<ion-view view-title="Select Amount">

  <ion-header-bar>
    <h1 class="title">Select Amount</h1>
  </ion-header-bar>

  <ion-content>
    <form name="buyForm" ng-controller="BuyController as buyCtrl" ng-submit="buyCtrl.addBuy()" novalidate>

      <div class="list">
        <label class="item item-input">
            <span class="input-label">Amount</span>
            <input type="number" name="amount" ng-model="buyCtrl.buyer.amount" class="form-control" required/>
        </label>

        <label class="item">
          <button class="button" type="submit">Submit</button>
        </label>

      </div>
    </form>
  </ion-content>
</ion-view>
