<ion-view view-title="Boletas actuales">
  <ion-content ng-init = "getTickets()">
           <div class="row header">
          <div class="col">Evento</div>
          <div class="col">Descripcion</div>
          <div class="col"></div>
        </div>
        <div class="row" ng-repeat="tickets in tickets">
          <div class="col">{{tickets.name}}</div>
          <div class="col">{{tickets.description}}</div>
          <div class="col"><a class="button icon icon-right ion-chevron-right" ui-sref="app.buyticket">Comprar</a></div>
        </div>
  </ion-content>
</ion-view>