<ion-view view-title="Edit Profile">

  <ion-content>
    <form name="editForm" ng-submit="updateProfile()">
      <div class="list">
        <label class="item item-input">
            <span class="input-label">Name</span>
            <input type="text" name="firstName" id="firstName" class="form-control" ng-minlength="2" required />
        </label>
        <label class="item item-input">
            <span class="input-label">Last Name</span>
            <input type="text" name="lastName" id="lastName" class="form-control" ng-minlength="2"  required />
        </label>

        <label class="item item-input">
        <span style="text-align: center;width: 100%;">
          <button class="button icon-left ion-checkmark-round" ng-click="updateProfile()">
            Edit
          </button>
          </span>
        </label>

      </div>
    </form>
  </ion-content>
</ion-view>