<div class="container">
<h3 class="well text-center"> Crear una cuenta</h1>
<form name="registerForm" ng-controller="RegisterController as regCtrl" ng-submit="registerForm.$valid && regCtrl.register()" novalidate>
    <div class="form-group">
            <label for="firstName">Nombre</label>
            <input type="text" name="firstName" id="firstName" class="form-control" pattern=".{2,}" ng-model="regCtrl.credentials.firstName" placeholder="Primer nombre" required />
    </div>
    <div class="form-group">
        <label for="lastName">Apellidos</label>
        <input type="text" name="lastName" id="Text1" class="form-control" pattern=".{2,}" ng-model="regCtrl.credentials.lastName" placeholder="Apellidos" required />
    </div>
    <div class="form-group">
        <label for="username">Usuario</label>
        <input type="text" name="username" id="username" class="form-control" pattern=".{6,}" ng-model="regCtrl.credentials.email" placeholder="Nombre de usuario" required title="Minimo 6 caracteres" />
    </div>
    <div class="form-group">
        <label for="password">Contraseña</label>
        <input type="password" name="password" id="password" class="form-control" pattern=".{6,}" ng-model="regCtrl.creadentials.password" placeholder="Contraseña" required title="Minimo 6 caracteres" />
    </div>
    <div class="form-actions">
        <button onclick="location.href = '#/login';" type="submit" class="btn btn-default">Registrarse</button>
        
        <a href="#/login" class="btn btn-link">Cancelar</a>
    </div>
</form>
</div>