<div class="container">
  <h3 class="well text-center"> Inicio de sesión</h1>
  <form name="login" ng-submit="loginCtrl.login();" novalidate>
    <div class="form-group">
    <label for="email">Nombre de usuario</label>
      <input ng-model="loginCtrl.credentials.email" type="email" class="form-control" id="email" placeholder="Nombre de usuario" required>
    </div>
    <div class="form-group">
      <label for="password">Contraseña</label>
      <input ng-model="loginCtrl.credentials.password" type="password" class="form-control" id="password" placeholder="Contraseña" required>
    </div>
    <button type="submit" class="btn btn-default">Iniciar sesión</button>
    <a href="#/register" class="btn btn-link">Registrarse</a>
  </form>
</div>