<ion-view view-title="Elegir asientos">
<div class="container" ng-init="seatCtrl.getSeats();">
<form name="seatForm" ng-submit="seatForm.$valid && seatCtrl.addSeat()" role="form" novalidate>
    <div class="form-group">
        <label for="row">Fila</label>
        <input type="number" name="row" id="row" class="form-control" ng-model="seatCtrl.seat.row" placeholder="Latitud del lugar" required  />
    </div>

    <div class="form-group">
        <label for="column">Columna</label>
        <input type="number" name="column" id="column" class="form-control" ng-model="seatCtrl.seat.column" placeholder="Longitud del lugar" required />
    </div>

     <div class="form-group">
        <button type="submit" class="btn btn-default">Agregar</button>
      </div>
    </div>
</form>

</div>

</div>
</ion-view>