<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/home">BoleteríaRD</a>
    </div>

    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav">
        <li><a href="#/home">Inicio</a></li>
        <li><a href="#/events">Eventos</a></li>
        <li><a href="#/location">Sitios</a></li>
        <li><a href="#/Users">Usuarios</a></li>
        <li><a href="#/login">Log Out</a></li>
      </ul>
    </div>

  </div>
</nav>
