<ng-include src="'components/menu.html'"></ng-include>

<div class="container" ng-init="EventCtrl.getEvents();">
  <h1 class="well text-center"> Mantenimiento de Eventos</h1>
  <form name="MantenimientoEventos" class="form-horizontal"
  ng-submit="MantenimientoEventos.$valid && EventCtrl.addEvent()" role="form" novalidate autocomplete="off">

    <div class="form-group">
      <label class="control-label col-sm-2" for="txtNombre">Nombre:</label>
      <div class="col-sm-10">
        <input type="text" ng-model="EventCtrl.event.name" class="form-control" id="txtNombre" placeholder="Nombre del evento" required>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="eCorreo">Correo:</label>
      <div class="col-sm-10">
        <input type="email" ng-model="EventCtrl.event.email" class="form-control" id="eCorreo" placeholder="Correo electronico" required>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="iBoletas">Boletas:</label>
      <div class="col-sm-3">
        <select class="form-control" ng-model="EventCtrl.event.ticketType" required>
          <option value="Numeradas" > Numeradas </option>

          <option value="No numeradas"> No numeradas </option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="FechaInicio">Fecha:</label>
      <div class="col-sm-3">
        <input type="text" ng-model="EventCtrl.event.date" placeholder="Fecha del Evento" class="form-control" id="FechaInicio" required >
      </div>
    </div>

    <div ng-controller="LocationController as locCtrl" ng-init="locCtrl.getLocations();">
      <label class="control-label col-sm-2">Sitio:</label>
      <select ng-model="EventCtrl.event.location">
        <option ng-repeat="location in locations" value="{{location.id}}">
          {{location.name}}
        </option>
      </select>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Agregar Evento</button>
      </div>
    </div>
  </form>

  <table class="table table-bordered">
    <tr>
      <th class="text-center">
        Nombre
      </th>
      <th class="text-center">
        Correo
      </th>
      <th class="text-center">
        Tipo de boleta
      </th>
      <th class="text-center">
        Activo
      </th>
      <th class="text-center">
        Fecha
      </th>

      <th class="text-center">
        Accion
      </th>
      <th class="text-center">
        Borrar
      </th>
    </tr>
    <tr ng-repeat="events in events">
      <td class="text-center">{{events.name}}</td>
      <td class="text-center">{{events.email}}</td>
      <td class="text-center">{{events.ticketType}}</td>
      <td class="text-center">{{events.isActive}}</td>
      <td class="text-center">{{events.date | date : 'd/M/yyyy'}}</td>

      <td class="text-center"> <a href="#/tickets" class="btn btn-link">Editar</a></td>
      <td class="text-center"> <a class="btn btn-link" ng-click="EventCtrl.deleteEvent(events)">Eliminar</a></td>

    </tr>
  </table>
</div>
