#mainContainer {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 5px;
  width:70%;

}
#mainContainer h1{
	text-align: center;
}

#mainContainer p{
	text-align: center;
	font-style: italic;
}

#mainContainer .ImageContainer{

  background-image: url(/app/images/eventos.jpg);
  background-repeat: no-repeat;
  width:100%;
  height:370px;
}
