<ion-view view-title="Eventos actuales">
  <ion-content ng-init = "getEvents()">
    <ion-list>
    <ion-item ng-repeat="event in events" href="#/app/Events/eventdetail/{{event.id}}">
        {{event.name}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>


</ion-tabs>


