<ng-include src="'components/menu.html'"></ng-include>
<div class="container">
	<h2 class="well text-center">Agregar tickets</h2>
	<form name="ticketsForm" ng-controller="TicketsController as ticketCtrl" class="form-horizontal" ng-submit="ticketsForm.$valid && ticketCtrl.addTicket()" novalidate>

		<div class="form-group">
			<label class="control-label col-sm-2">Nombre:</label>
			<div class="col-sm-10">
				<input type="text" ng-model="ticketCtrl.ticket.name" class="form-control" placeholder="VIP, Gradas, Platea, etc..." ng-MinLength="3" required>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-sm-2">Descripcion:</label>
			<div class="col-sm-10">
				<input type="text" ng-model="ticketCtrl.ticket.description" class="form-control" placeholder="Opcional">
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-sm-2">Precio:</label>
			<div class="col-sm-2">
				<input type="number" ng-model="ticketCtrl.ticket.price" class="form-control" min="100" required>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-sm-2">Cantidad:</label>
			<div class="col-sm-2">
				<input type="number" ng-model="ticketCtrl.ticket.amount" class="form-control" min="1" required>
			</div>
		</div>

		<div ng-controller="EventController as EventCtrl" ng-init="EventCtrl.getEvents();">
			<label class="control-label col-sm-2">Evento:</label>
			<select ng-model="ticketCtrl.ticket.event">
				<option ng-repeat="event in events" value="{{event.id}}">
					{{event.name}}
				</option>
			</select>
		</div>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-default">Agregar Ticket</button>
			</div>
		</div>

	</form>
</div>
