<ion-view view-title="Register">

  <ion-content>

    <ul>
      <font color="red">
        <li ng-show="registerForm.firstname.$invalid && !registerForm.firstname.$pristine" class="help-block">Invalid Name.</li>
        <li ng-show="registerForm.lastname.$invalid && !registerForm.lastname.$pristine" class="help-block">Invalid Last Name.</li>
        <li ng-show="registerForm.email.$invalid && !registerForm.email.$pristine" class="help-block">Invalid Email.</li>
        <li ng-show="registerForm.pass.$invalid && !registerForm.pass.$pristine" class="help-block">Invalid Password.</li>
        <li ng-show="rePassword != user.password && !registerForm.repass.$pristine" class="help-block">Passwords don't match.</li>
      </font>
    </ul>
    <form name="registerForm" ng-submit="addUser()" novalidate>


      <div class="list">
        <label class="item item-input">
            <span class="input-label">Name</span>
            <input type="text" name="firstname" ng-model="user.firstName" class="form-control" ng-MinLength="2" required>
        </label>
        <label class="item item-input">
            <span class="input-label">Last Name</span>
            <input type="text" name="lastname" ng-model="user.lastName" class="form-control" ng-MinLength="2" required >
        </label>
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="email" name="email" ng-model="user.email" class="form-control" ng-MinLength="6" required >
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" name="pass" ng-model="user.password" class="form-control" ng-MinLength="6" required >
        </label>
        <label class="item item-input">
          <span class="input-label">Repeat Password</span>
          <input type="password" name="repass" ng-model="rePassword" class="form-control" ng-MinLength="6" required >
        </label>

        <label class="item">
          <button class="button button-block button-positive" ng-disabled="registerForm.$invalid || rePassword != user.password" ng-click="login()" type="submit">Submit</button>
        </label>

      </div>
    </form>
  </ion-content>
</ion-view>
