<ng-include src="'components/menu.html'"></ng-include>

<div class="container" ng-init="locCtrl.getLocations();">
<h3 class="well text-center"> Agregar Sitio</h1>
<form name="locationForm" ng-submit="locationForm.$valid && locCtrl.addLocation()" role="form" novalidate>
    <div class="form-group">
            <label for="name">Nombre</label>
            <input type="text" name="name" id="name" class="form-control" ng-model="locCtrl.location.name" placeholder="Nombre del lugar" required />
    </div>

    <div class="form-group">
        <label for="latitude">Latitud</label>
        <input type="number" name="latitude" id="latitude" class="form-control" ng-model="locCtrl.location.latitude" placeholder="Latitud del lugar" required  />
    </div>

    <div class="form-group">
        <label for="longitude">Longitud</label>
        <input type="number" name="longitude" id="longitude" class="form-control" ng-model="locCtrl.location.longitude" placeholder="Longitud del lugar" required />
    </div>

    <div class="form-group">
        <label for="rows">Filas</label>
        <input type="number" name="rows" id="rows" class="form-control" ng-model="locCtrl.location.rows" placeholder="Filas del lugar" required  />
    </div>

    <div class="form-group">
        <label for="columns">Columnas</label>
        <input type="number" name="columns" id="columns" class="form-control" ng-model="locCtrl.location.columns" placeholder="Longitud del lugar" required />
    </div>

     <div class="form-group">
        <button type="submit" class="btn btn-default">Agregar Sitio</button>
      </div>
    </div>
</form>


 <table class="table table-bordered">
    <tr>
      <th class="text-center">
        Nombre
      </th>
      <th class="text-center">
        Latitud
      </th>
      <th class="text-center">
        Longitud
      </th>
    </tr>
    <tr ng-repeat="locations in locations">
      <td class="text-center">{{locations.name}}</td>
      <td class="text-center">{{locations.latitude}}</td>
      <td class="text-center">{{locations.longitude}}</td>
      <td class="text-center"><a ng-click="locCtrl.deleteLocation(locations)">Eliminar</a> </td>
      </tr>
  </table>

</div>

</div>
